label for="title" Title:
input#name type="text" name="comment[title]" value="#{@comment.title}"
label for="person_name" Name:
input#name type="text" name="comment[person_name]" value="#{@comment.person_name}"
label for="content" Content:
input#name type="text" name="comment[content]" value="#{@comment.content}"
br
br
input type="submit" value="Save Content"
