nav
  ul
    li class="nav_left" <a href="/" title="Home">Home</a>
    li class="nav_left" <a href="/about" title="About">About</a>
    li class="nav_left" <a href="/contact" title="Contact">Contact</a>
    li class="nav_left" <a href="/students" title="Students">Students</a>
    li class="nav_left" <a href="/comments" title="Comments">Comments</a>
    li class="nav_left" <a href="/video" title="Video">Video</a>
    li class="nav_left" <a href="/login" title="Login">Login</a>
    li class="nav_left" <a href="/logout" title="Logout">Logout</a>
